.border_sub_title {
  position: relative;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 60px;
  display: inline-block;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    height: 2px;
    width: 50px;
    background: #555;
  }

  &::before {
    left: 0%;
    transform: translate(-66px, -50%);
  }
  &::after {
    right: 0%;
    transform: translate(66px, -50%);
  }
}
