@import "Setting.module.scss";

.features {
  padding: 120px 0;
  // background: #f9f9f9;
  // background: hotpink;

  .wrap {
    background: greenyellow;
    width: 968px;
    margin: 0 auto;

    @include mq("tab") {
      width: calc(100% - 40px);
    }
    @include mq("sp") {
      width: 100%;
    }
  }
}
