// mixinを定義
@mixin mq($breakpoint) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

// breakpointを定義（PCファーストの設定)
$breakpoints: (
  sp-s: "screen and (max-width: 320px)",
  sp: "screen and (max-width:420px)",
  tab: "screen and (max-width: 768px)",
);

// animationを定義
@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  75% {
    transform: translateY(-2px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
