/********** Module Spacer **********/
.h-module-spacer--xs {
  height: 8px;
}
.h-module-spacer--sm {
  height: 16px;
}
.h-module-spacer--md {
  height: 24px;
}
.h-module-spacer--lg {
  height: 32px;
}
.h-module-spacer--xl {
  height: 64px;
}
.h-module-spacer--xxl {
  height: 128px;
}

.w-module-spacer--xxs {
  width: 4px;
}
.w-module-spacer--xs {
  width: 8px;
}
.w-module-spacer--sm {
  width: 16px;
}
.w-module-spacer--md {
  width: 24px;
}
.w-module-spacer--lg {
  width: 32px;
}
.w-module-spacer--xl {
  width: 64px;
}
.w-module-spacer--xxl {
  width: 128px;
}
