.btn {
  position: relative;
  padding: 12px 26px;
  background: linear-gradient(
    to right,
    rgba(255, 152, 0, 0.7),
    20%,
    rgba(255, 172, 51, 0.6),
    80%,
    rgba(255, 152, 0, 0.7)
  );
  color: #262626;
  border: 1px solid #262626;
  letter-spacing: 1px;
  transition: all 0.5s;
  text-align: center;
  &:hover {
    opacity: 0.9;
    border-radius: 12px;

    & .text {
      &::before {
        left: -30px;
        transform: translate(0, -50%) rotate(-135deg);
        animation: animateBefore 0.5s linear infinite;
      }
      &::after {
        right: -30px;
        transform: translate(0, -50%) rotate(-135deg);
        animation: animateAfter 0.5s linear infinite;
      }
    }
  }

  & .text {
    font-weight: 600;

    &::before,
    &::after {
      content: "";
      position: absolute;
      display: block;
      width: 35px;
      height: 35px;
      box-sizing: border-box;
      transition: 0.5s;
    }

    &::before {
      border-bottom: 1px solid #262626;
      border-left: 1px solid #262626;
      top: 50%;
      left: -8px;
      transform: translate(0, -50%) rotate(45deg);
    }

    &::after {
      border-top: 1px solid #262626;
      border-right: 1px solid #262626;
      top: 50%;
      right: -8px;
      transform: translate(0, -50%) rotate(45deg);
    }

    @keyframes animateBefore {
      0% {
        left: -30px;
      }
      50% {
        left: -25px;
      }
      100% {
        left: -30px;
      }
    }

    @keyframes animateAfter {
      0% {
        right: -30px;
      }
      50% {
        right: -25px;
      }
      100% {
        right: -30px;
      }
    }
  }
}
